body
{
	overflow-x:hidden;
	color:#262626;
	background-color: #F6F8F9;
}
.head{
	height: 524px;
	background: url('../1822634.jpg') no-repeat fixed center center / cover;
}

.navbar-default{
	background-color: transparent;
	border: none;
}


.navbar-default .navbar-nav > li > a:link {
    color: #BDC3C7;
}
.navbar-default .navbar-nav > li > a:visited {
    color: #BDC3C7;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:visited, .navbar-default .navbar-brand:link {
    color: #BDC3C7;
}

.header_container{
	margin-top: 100px;

}
.text-white{
	color:white;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #2C3E50;
}

.big {
	padding-top: 15px;
    font-size: 6em;
    color: :#262626;
}



.bg{
	
	padding-top: 50px;
    min-height: 900px;
}

.col-md-2  a {
	color:#262626;
}

.col-md-2  a:hover {
	color:#2C3E50;
	text-decoration: none;
}

.lf{
	margin-left: 30px;
	margin-right: 30px;
}

.down_alligment{
	margin-top: 70px;
}

.padding_top{
	padding-top: 20px;
}
.caption{
	margin-top: 40px;
	word-wrap: break-word;
}

.gri{
	background-color: #bdc3c7;
}
.no-line{
	border-style: hidden;
}
.table > tbody > tr > td{
	line-height: 3;
}

.green{
	background-color: #2ecc71;
}
.blue{
	background-color: #2980b9;
}

.blue-light{
	background-color: #3498db;
}
.purple{
	background-color: #8e44ad;
}
.yellow{
	background-color: #f1c40f;
}
.orange{
	background-color: #f39c12;
}
.orange2{
	background-color: #d35400;
}
.red{
	background-color: #e74c3c;
}
.green2{
	background-color: #16a085;
}
.purple2{
	background-color: #9b59b6;
}

.file{
  visibility:hidden;
  position:absolute;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

footer {
    min-height: 250px;
    background-color: #213040;
}

.footer--list {
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    text-align: center;

}
.footer--list li{
	display: inline;
}
.text-space {
    line-height: 1.8;
}
.top-margin {
    margin-top: 100px;
}
.footer--list a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 0.9em;

}

.no-marg{
    margin: 0 0 0 0;
}