<head>
	    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
	<div class="row" >
			<div class="col-md-3 col-md-offset-3" style="background-color:green; height:48px;"></div>
			<div class="col-md-6" style="background-color:yellow; height:48px;"></div>
	</div>
	<div class="row"></div>
</div>
</body>