<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ACRE</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/bootstrap-social.css" rel="stylesheet">

    <link href="../static/css/mycss.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid head">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-md-6 col-md-offset-7">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'index' %}">Acre</a>                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                        <ul class="nav navbar-nav">
                            <li><a href="#">Team</a></li>
                            
                            {% if  logged %}
                                <li><a href="/cont">Cont</a></li>
                                {% if is_prof %}
                                    <li><a href="/profesor">Upload Note</a></li>
                                {% else %}
                                    <li><a href="/form">Formulare</a></li>
                                {% endif %}
                                <li><a href="#" data-toggle="modal">Welcome, {{ user.first_name }}</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#logout_mod">Logout</a></li>
                            {% else %}
                                <li><a href="#" data-toggle="modal" data-target="#login_mod">Login</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#sign_in_mod">Register</a></li>

                            {% endif %}

                        </ul>

                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container header_container">
        <div class="row">
          
            {% if not logged %}
                <div class="col-md-3 col-md-offset-9 hidden-sm hidden-xs">

                    <div class="well">

                        <h4><b>Login!</b></h4>

                        <form class="navbar-form" action="/login/" method="post">
                            {% csrf_token %}
                            {% if error == "invalid" %}
                                <h1>Invalid login data</h1>
                            {% endif %}
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" name="email" placeholder="Email" type="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Parola <a href="#">(parola uitata)</a></label>
                                <input class="form-control" name="password" placeholder="Parola" type="password">
                            </div>
                            </br></br>
                            <button type="submit" class="btn btn-sm btn-default">Login</button>
                        </form>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

</div>


<div class="container-fluid bg">
    <div class="row">
        {% if error %}
            <h1>{{error_message}}</h1>
        {% else %}
        <form class="form-horizontal formular-cont" role="form" action="/update_cont/" method="post">
                            {% csrf_token %}
                            <fieldset>
                                <legend>
                                    Cont
                                </legend>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label" for="textinput">
                                        Nume
                                    </label>

                                    <div class="col-sm-5">
                                        <input type="text" placeholder={{Nume}} class="form-control" name="nume">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label" for="textinput">
                                        Prenume
                                    </label>

                                    <div class="col-sm-5">
                                        <input type="text" placeholder={{Prenume}} class="form-control" name="prenume">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-1 control-label" for="textinput">
                                        Parola
                                    </label>

                                    <div class="col-sm-5">
                                        <input type="password" placeholder="Parola" class="form-control"
                                               name="password">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-1 control-label" for="textinput">
                                        Repeta parola
                                    </label>

                                    <div class="col-sm-5">
                                        <input type="password" placeholder="Parola" class="form-control"
                                               name="password_repeat">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-5">
                                        <div class="pull-left">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        {% endif %}

                        {% if need_token %}
                            <div class="col-md-2">
                                <button id="loginBtn" class="btn btn-block btn-social btn-facebook">Facebook Login</button>
                            </div>
                        </br></br>
                        {% else %}
                            <div class="col-md-5">
                            <form class="form-horizontal formular-cont" role="form" action="/set_group/" method="post">
                                {% csrf_token %}
                                {% for g in groups %}
                                <div>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" name="grupuri[]" value={{g.id}}> {{g.name}}
                                    </label>
                                </div>
                                {% endfor %}

                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-5">
                                        <div class="pull-left">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% endif %}
    </div>



        
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-margin text-space">
                <ul class="footer--list text-white">
                    
                    <li>Copyright © 2015 Fii</li>
                </ul>
            </div>
           
            
        </div>
    </div>
</footer>

<div class="modal fade" id="login_mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            {% if logged == False %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="navbar-form" action="/login/" method="post">
                                    {% csrf_token %}
                                    {% if error == "invalid" %}
                                        <h1>Invalid login data</h1>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control" name="email" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Parola <a href="#">(parola uitata)</a></label>
                                        <input class="form-control" name="password" placeholder="Parola"
                                               type="password">
                                    </div>
                                    </br></br>
                                    <button type="submit" class="btn btn-sm btn-default">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal fade" id="sign_in_mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Register</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="navbar-form navbar-left" action="/registered/" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="nume">Nume</label>
                                    <input class="form-control" name="nume" placeholder="Nume" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="prenume">Prenume</label>
                                    <input class="form-control" name="prenume" placeholder="Prenume" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="matricol">Numar Matricol</label>
                                    <input class="form-control" name="matricol" placeholder="Numar Matricol"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label for="an">An</label></br>
                                    <input class="form-control" name="an" placeholder="An" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="grupa">Grupa</label>
                                    <input class="form-control" name="grupa" placeholder="Grupa" type="text">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" name="email" placeholder="Email" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Parola</label>
                                    <input class="form-control" name="passwordbranza" placeholder="Parola"
                                           type="password">
                                </div>
                                </br></br>
                                <button type="submit" class="btn btn-sm btn-default" action="">Sign in</button>

                            </form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="logout_mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Logout</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            </br></br>
                            <form class="navbar-form navbar-left" action="/logout/" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-default">LogOut</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $( document ).ready(function() {
        $('#myTab a').click(function (e) {
     e.preventDefault()
     $('#myTab a[href="#I12"]').tab('show') 
    })


    });


    </script>

    <script>

 
        function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

window.fbAsyncInit = function() {
    //SDK loaded, initialize it
    FB.init({
        appId      : '601291673338986',
        xfbml      : true,
        version    : 'v2.3'
    });
 
    //check user session and refresh it
    FB.getLoginStatus(function(response) {
    var csrftoken = getCookie('csrftoken');
    console.log(csrftoken)
    var xhr = new XMLHttpRequest();
    
    xhr.open('POST', '/facebook/', true);
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        var data = new FormData();
      
        data.append('accesToken', response.authResponse.accessToken);
        data.append('userID',response.authResponse.userID);
        
        <!--xhr.send(data);-->
        xhr.onload = function () {
            // do something to response
            if(this.status=200)
                console.log(this.responseText)
                // window.open('http://localhost:8000')


        };
        if (response.status === 'connected') {
            //user is authorized
            document.getElementById('loginBtn').style.display = 'none';

    
    
        } else {
            //user is not authorized
        }
    });
};
 
//load the JavaScript SDK
(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
 
//add event listener to login button
document.getElementById('loginBtn').addEventListener('click', function() {
    //do the login
    FB.login(function(response) {
        if (response.authResponse) {
            //user just authorized your app
            console.log(response);
            document.getElementById('loginBtn').style.display = 'none';
            var exchangeUrl = "https://graph.facebook.com/oauth/access_token?grant_type=fb_exchange_token&fb_exchange_token="+response.authResponse.accessToken+"&client_id="+'601291673338986'+"&client_secret="+'543cfb4d8227334fe63a4aab3b3a1828';
             $.ajax({  
                type: "GET",
                url: exchangeUrl,  
                success: function(data)
                { 
                   extended = data.split('=');
                   extendedAT = extended['1'].replace('&expires','');
                    alert(extendedAT);
                    console.log(extendedAT)

                    var csrftoken = getCookie('csrftoken');
                    var xhr = new XMLHttpRequest();
                    
                    xhr.open('POST', '/facebook/', true);
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    var data = new FormData();
                      
                    data.append('accesToken', extendedAT);
                    data.append('userID',response.authResponse.userID);
                        
                    xhr.send(data);
                    xhr.onload = function () {
                            
                        if(this.status=200)
                            console.log(this.responseText)
                        


                        };
                    if (response.status === 'connected') 
                    {
                        document.getElementById('loginBtn').style.display = 'none';

                    } 
                    else 
                    {
                            //user is not authorized
                    }
                
                
                }
            });


        }
    }, {scope: 'email,public_profile,user_groups,user_posts', return_scopes: true});
}, false);
</script>
</body>


    </html>