<!DOCTYPE html>
<html>
<head lang="en">
       <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ACRE</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/mycss.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid head">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-md-6 col-md-offset-7">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'index' %}">Acre</a>                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                        <ul class="nav navbar-nav">
                            <li><a href="#">Team</a></li>
                            
                            {% if  logged %}
                                <li><a href="/cont">Cont</a></li>
                                {% if is_prof %}
                                    <li><a href="/profesor">Upload Note</a></li>
                                {% else %}
                                    <li><a href="/form">Formulare</a></li>
                                {% endif %}
                                <li><a href="#" data-toggle="modal">Welcome, {{ user.first_name }}</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#logout_mod">Logout</a></li>
                            {% else %}
                                <li><a href="#" data-toggle="modal" data-target="#login_mod">Login</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#sign_in_mod">Register</a></li>

                            {% endif %}

                        </ul>

                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container header_container">
        <div class="row">
          
            {% if not logged %}
                <div class="col-md-3 col-md-offset-9 hidden-sm hidden-xs">

                    <div class="well">

                        <h4><b>Login!</b></h4>

                        <form class="navbar-form" action="/login/" method="post">
                            {% csrf_token %}
                            {% if error == "invalid" %}
                                <h1>Invalid login data</h1>
                            {% endif %}
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" name="email" placeholder="Email" type="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Parola <a href="#">(parola uitata)</a></label>
                                <input class="form-control" name="password" placeholder="Parola" type="password">
                            </div>
                            </br></br>
                            <button type="submit" class="btn btn-sm btn-default">Login</button>
                        </form>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

</div>



 
<form class="form-horizontal" action="/form/" method="POST" style="margin-top:20px;">
{% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend style="text-indent:100px;">Formular de evaluare a profesorilor</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Selectati un profesor</label>
  <div class="col-md-4">
    <select id="selectbasic" name="nume" class="form-control">
    {% for prof in profesori %}
    	<p>{{prof}}</p>
    	{% if prof.votat %}

    	{% else %}
      <option value="{{prof.nume}}" >{{prof.nume}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
</div>
<!-- Multiple Radios (inline) -->
<h4 align="center">Sociabilitate</h4>
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Atmosfera in cadrul orei</label>
  <div class="col-md-4">
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="atmosfera" id="radios-0" value="0" checked="checked">
      Neutra
    </label>
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="atmosfera" id="radios-1" value="1">
      Tensionata
    </label>
    <label class="radio-inline" for="radios-2">
      <input type="radio" name="atmosfera" id="radios-2" value="2">
      Variaza
    </label>
    <label class="radio-inline" for="radios-3">
      <input type="radio" name="atmosfera" id="radios-3" value="3">
      Relaxata
    </label>

    <label class="radio-inline" for="radios-3">
      <input type="radio" name="atmosfera" id="radios-4" value="4">
      Amicala
    </label>
  </div>
  </div>
<div class="form-group">
  
  <label class="col-md-4 control-label" for="radios">Interactiunea cu studentii</label>
  <div class="col-md-4">
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="interactiune" id="radios-0" value="0" checked="checked">
      Neutra
    </label>
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="interactiune" id="radios-1" value="1">
      Negativa
    </label>
    <label class="radio-inline" for="radios-2">
      <input type="radio" name="interactiune" id="radios-2" value="2">
      Slaba
    </label>
    <label class="radio-inline" for="radios-3">
      <input type="radio" name="interactiune" id="radios-3" value="3">
      Normala
    </label>

    <label class="radio-inline" for="radios-3">
      <input type="radio" name="interactiune" id="radios-4" value="4">
      Puternica
    </label>
  </div>
  </div>
</div>
<h4 align="center">Stil de predare</h4>
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Tipul explicatiilor</label>
  <div class="col-md-4">
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="explicatii" id="radios-0" value="0" checked="checked">
      Neutru
    </label>
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="explicatii" id="radios-1" value="1">
      Inexistente
    </label>
    <label class="radio-inline" for="radios-2">
      <input type="radio" name="explicatii" id="radios-2" value="2">
      Neintuitive/Neclare
    </label>
    <label class="radio-inline" for="radios-3">
      <input type="radio" name="explicatii" id="radios-3" value="3">
      Medii
    </label>

    <label class="radio-inline" for="radios-3">
      <input type="radio" name="explicatii" id="radios-4" value="4">
      Vaste/ Clare
    </label>
  </div>
  </div>
<div class="form-group">
  
  <label class="col-md-4 control-label" for="radios">Materiale auxiliare folosite la clasa</label>
  <div class="col-md-6">
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="materiale" id="radios-0" value="0" checked="checked">
      Neutru
    </label>
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="materiale" id="radios-1" value="1">
      Inexistente
    </label>
    <label class="radio-inline" for="radios-2">
      <input type="radio" name="materiale" id="radios-2" value="2">
      Inutilizabile / Inutile
    </label>
    <label class="radio-inline" for="radios-3">
      <input type="radio" name="materiale" id="radios-3" value="3">
      Suficiente
    </label>

    <label class="radio-inline" for="radios-3">
      <input type="radio" name="materiale" id="radios-4" value="4">
      Multe ( exemple practice etc)
    </label>
  </div>
  </div>
  <h4 align="center">Sistem de notare</h4>
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Mod de evaluare</label>
  <div class="col-md-4">
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="evaluare" id="radios-0" value="0" checked="checked">
      Neutru
    </label>
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="evaluare" id="radios-1" value="1">
      Neuniform / subiectiv
    </label>
    <label class="radio-inline" for="radios-2">
      <input type="radio" name="evaluare" id="radios-2" value="2">
      Foarte Strict
    </label>
    <label class="radio-inline" for="radios-3">
      <input type="radio" name="evaluare" id="radios-3" value="3">
      Obiectiv
    </label>

    <label class="radio-inline" for="radios-3">
      <input type="radio" name="evaluare" id="radios-4" value="4">
      Lejer
    </label>
  </div>
  </div>
<div class="form-group">
  
  <label class="col-md-4 control-label" for="radios">Dificultatea subiectelor</label>
  <div class="col-md-6">
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="subiecte" id="radios-0" value="0" checked="checked">
      Neutru
    </label>
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="subiecte" id="radios-1" value="1">
     Inegala
    </label>
    <label class="radio-inline" for="radios-2">
      <input type="radio" name="subiecte" id="radios-2" value="2">
     Foarte Mare
    </label>
    <label class="radio-inline" for="radios-3">
      <input type="radio" name="subiecte" id="radios-3" value="3">
      Medie
    </label>

    <label class="radio-inline" for="radios-3">
      <input type="radio" name="subiecte" id="radios-4" value="4">
      Variata si echilibrata
    </label>
  </div>
  </div>
</div>
<h3 align="center">Parere Generala</h3>
<div class="form-group">
  
  <label class="col-md-4 control-label" for="radios">Parere genenrala</label>
  <div class="col-md-8">
    <label class="radio-inline" for="radios-0">
      <input type="radio" name="overall" id="radios-0" value="0" checked="checked">
      Neutru
    </label>
    <label class="radio-inline" for="radios-1">
      <input type="radio" name="overall" id="radios-1" value="1">
     Nu mi-a placut 
    </label>
    <label class="radio-inline" for="radios-2">
      <input type="radio" name="overall" id="radios-2" value="2">
     Mi-a fost indiferent
    </label>
    <label class="radio-inline" for="radios-3">
      <input type="radio" name="overall" id="radios-3" value="3">
      Mi-a placut
    </label>

    <label class="radio-inline" for="radios-3">
      <input type="radio" name="overall" id="radios-4" value="4">
      Mi-a palcut foarte mult/ As mai face si alte obiecte pe viitor cu el
    </label>
  </div>
  </div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Trimite raspunsuri</label>
  <div class="col-md-4">
   <button type="submit" class="btn btn-sm btn-default">push me</button>
  </div>
</div>


</fieldset>
</form>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-margin text-space">
                <ul class="footer--list text-white">
                    
                    <li>Copyright © 2015 Fii</li>
                </ul>
            </div>
           
            
        </div>
    </div>
</footer>
</body>
</html>