<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ACRE</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/mycss.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
     
</head>
<body>
<div class="container-fluid head">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-md-6 col-md-offset-7">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'index' %}">Acre</a>  
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                        <ul class="nav navbar-nav">
                            <li><a href="#">Team</a></li>
                            
                            {% if  logged %}
                                <li><a href="/cont">Cont</a></li>
                                {% if is_prof %}
                                    <li><a href="/profesor">Upload Note</a></li>
                                {% else %}
                                    <li><a href="/form">Formulare</a></li>
                                {% endif %}
                                <li><a href="#" data-toggle="modal">Welcome, {{ user.first_name }}</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#logout_mod">Logout</a></li>
                            {% else %}
                                <li><a href="#" data-toggle="modal" data-target="#login_mod">Login</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#sign_in_mod">Register</a></li>

                            {% endif %}

                        </ul>

                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container header_container">
        <div class="row">
          
            {% if not logged %}
                <div class="col-md-3 col-md-offset-9 hidden-sm hidden-xs">

                    <div class="well">

                        <h4><b>Login!</b></h4>

                        <form class="navbar-form" action="/login/" method="post">
                            {% csrf_token %}
                            {% if error == "invalid" %}
                                <h1>Invalid login data</h1>
                            {% endif %}
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" name="email" placeholder="Email" type="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Parola <a href="#">(parola uitata)</a></label>
                                <input class="form-control" name="password" placeholder="Parola" type="password">
                            </div>
                            </br></br>
                            <button type="submit" class="btn btn-sm btn-default">Login</button>
                        </form>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

</div>


<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
	{% if  user.is_authenticated and logged %}
		{{orar_link|safe}}	
        {% else %}
		<a href="/orar">
	{% endif %}
		<div class="thumbnail">
                <center><i class="glyphicon glyphicon-calendar big"></i></center>
                <div class="caption">
                    <center><h3>Orar</h3></center>
                    <p>Vizualizeaza-ti orarul sau genereaza-ti un orar optim. </p>
                </div>
            </div></a>
        </div>

        <div class="col-md-2 col-md-offset-1">
            <a href="/barfe">
                <div class="thumbnail">
                    <center><i class="glyphicon glyphicon-comment big"></i></center>
                    <div class="caption">
                        <center><h3>Barfe</h3></center>
                        <p>Vezi ultimele barfe de pe facebook </p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-md-4 col-md-offset-1">
            <div class="list-group">
                {% for p in postari %}
                    <a href="/barfe/" class="list-group-item active">
                        <h4 class="list-group-item-heading">{{p.tag}}</h4>

                        <p class="list-group-item-text">{{p.mesaj}}</p>
                    </a>
                {% endfor %}
                
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <a href="/note"><div class="thumbnail">
                <center><i class="glyphicon glyphicon-education big"></i></center>
                <div class="caption">
                    <center><h3>Note</h3></center>
                    <p>Vezi notele tale si cat de bun esti</p>
                </div>
            </div></a>
        </div>
        
        <div class="col-md-2 col-md-offset-1" >
            <a href="/recomandari" class="recomandare">
            <div class="thumbnail">
                <center><i class="glyphicon glyphicon-thumbs-up big"></i></center>
                
                <div class="caption">
                    <center><h3>Recomandari</h3></center>
                    <p>Vezi ce materii ti se potrivesc si ce profesori sunt potriviti pentru tine </p>
                </div>
            </div>
            </a>
        </div>
    

    </div>

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-margin text-space">
                <ul class="footer--list text-white">
                    
                    <li>Copyright © 2015 Fii</li>
                </ul>
            </div>
           
            
        </div>
    </div>
</footer>


<div class="modal fade" id="login_mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            {% if logged == False %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="navbar-form" action="/login/" method="post">
                                    {% csrf_token %}
                                    {% if error == "invalid" %}
                                        <h1>Invalid login data</h1>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control" name="email" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Parola <a href="#">(parola uitata)</a></label>
                                        <input class="form-control" name="password" placeholder="Parola"
                                               type="password">
                                    </div>
                                    </br></br>
                                    <button type="submit" class="btn btn-sm btn-default">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal fade" id="sign_in_mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-6">
                        <a id="elev-form-link" class="active" href="#">Elev</a>
                    </div>
                <div class="col-xs-6">
                    <a id="prof-form-link" href="#">Profesor</a>
               </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                
            </div>
            <div class="modal-body">
            
                    <div class="row no-marg">
                        <div class="col-md-12">
                            <form id="elev-form" class="navbar-form navbar-left" action="/registered/" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="nume">Nume</label>
                                    <input class="form-control" name="nume" placeholder="Nume" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="prenume">Prenume</label>
                                    <input class="form-control" name="prenume" placeholder="Prenume" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="matricol">Numar Matricol</label>
                                    <input class="form-control" name="matricol" placeholder="Numar Matricol"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label for="an">An</label></br>
                                    <input class="form-control" name="an" placeholder="An" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="grupa">Grupa</label>
                                    <input class="form-control" name="grupa" placeholder="Grupa" type="text">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" name="email" placeholder="Email" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Parola</label>
                                    <input class="form-control" name="passwordbranza" placeholder="Parola"
                                           type="password">
                                </div>
                                </br></br>
                                <button type="submit" class="btn btn-sm btn-default" action="">Sign in</button>

                            </form>
                            
                            <form id="prof-form" class="navbar-form navbar-left" action="/registered_prof/" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="nume">Nume</label>
                                    <input class="form-control" name="nume" placeholder="Nume" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="prenume">Prenume</label>
                                    <input class="form-control" name="prenume" placeholder="Prenume" type="text">
                                </div>
                                

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" name="email" placeholder="Email" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Parola</label>
                                    <input class="form-control" name="passwordbranza" placeholder="Parola"
                                           type="password">
                                </div>
                                </br></br>
                                <button type="submit" class="btn btn-sm btn-default" action="">Sign in</button>

                            </form>

                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="logout_mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Logout</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            </br></br>
                            <form class="navbar-form navbar-left" action="/logout/" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-default">LogOut</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
  function checkForm(form)
  {
    if(form.email.value == "") {
      alert("Error: email cannot be blank!");
      form.email.focus();
      return false;
    }


    if(form.passwordbranza.value != "" ) {
      if(form.passwordbranza.value.length < 6) {
        alert("Error: Password must contain at least six characters!");
        form.passwordbranza.focus();
        return false;
      }
      if(form.passwordbranza.value == form.email.value) {
        alert("Error: Password must be different from email!");
        form.passwordbranza.focus();
        return false;
      }
      re = /[0-9]/;
      if(!re.test(form.passwordbranza.value)) {
        alert("Error: password must contain at least one number (0-9)!");
        form.passwordbranza.focus();
        return false;
      }
      re = /[a-z]/;
      if(!re.test(form.passwordbranza.value)) {
        alert("Error: password must contain at least one lowercase letter (a-z)!");
        form.password.focus();
        return false;
      }
      re = /[A-Z]/;
      if(!re.test(form.passwordbranza.value)) {
        alert("Error: password must contain at least one uppercase letter (A-Z)!");
        form.password.focus();
        return false;
      }
    } else {
      alert("Error: Please check that you've entered  your password!");
      form.passwordbranza.focus();
      return false;
    }


    return true;
  }

</script>
 <script>
     $( document ).ready(function() {
        $("#prof-form").fadeOut(100);
            $('#prof-form-link').removeClass('active');
    });
        $(function() {

        $('#elev-form-link').click(function(e) {
            $("#elev-form").delay(100).fadeIn(100);
            $("#prof-form").fadeOut(100);
            $('#prof-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#prof-form-link').click(function(e) {
            $("#prof-form").delay(100).fadeIn(100);
            $("#elev-form").fadeOut(100);
            $('#elev-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });
</script>
</body>
</html>