<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ACRE</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/mycss.css" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/masonry.pkgd.js"></script>

   

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid head">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-md-6 col-md-offset-7">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'index' %}">Acre</a>                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                        <ul class="nav navbar-nav">
                            <li><a href="#">Team</a></li>
                            
                            {% if  logged %}
                                <li><a href="/cont">Cont</a></li>
                                {% if is_prof %}
                                    <li><a href="/profesor">Upload Note</a></li>
                                {% else %}
                                    <li><a href="/form">Formulare</a></li>
                                {% endif %}
                                <li><a href="#" data-toggle="modal">Welcome, {{ user.first_name }}</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#logout_mod">Logout</a></li>
                            {% else %}
                                <li><a href="#" data-toggle="modal" data-target="#login_mod">Login</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#sign_in_mod">Register</a></li>

                            {% endif %}

                        </ul>

                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container header_container">
        <div class="row">
          
            {% if not logged %}
                <div class="col-md-3 col-md-offset-9 hidden-sm hidden-xs">

                    <div class="well">

                        <h4><b>Login!</b></h4>

                        <form class="navbar-form" action="/login/" method="post">
                            {% csrf_token %}
                            {% if error == "invalid" %}
                                <h1>Invalid login data</h1>
                            {% endif %}
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" name="email" placeholder="Email" type="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Parola <a href="#">(parola uitata)</a></label>
                                <input class="form-control" name="password" placeholder="Parola" type="password">
                            </div>
                            </br></br>
                            <button type="submit" class="btn btn-sm btn-default">Login</button>
                        </form>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

</div>

 
   
    <div class="container-fluid bg lf">
            <div class="row">
              <div class="col-md-12">
                <form class="navbar-form" action="/login/" method="post">
                                    {% csrf_token %}
                                    {% if error == "invalid" %}
                                        <h1>Invalid login data</h1>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control" name="email" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Parola <a href="#">(parola uitata)</a></label>
                                        <input class="form-control" name="password" placeholder="Parola"
                                               type="password">
                                    </div>
                                    </br></br>
                                    <button type="submit" class="btn btn-sm btn-default">Login</button>
                                </form></div>
            </div>
          </div>
          <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-margin text-space">
                <ul class="footer--list text-white">
                    
                    <li>Copyright © 2015 Fii</li>
                </ul>
            </div>
           
            
        </div>
    </div>
</footer>
</body>
</html>