<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ACRE</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/mycss.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid head">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-md-6 col-md-offset-7">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'index' %}">Acre</a>  
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                        <ul class="nav navbar-nav">
                            <li><a href="#">Team</a></li>
                            
                            {% if  logged %}
                                <li><a href="/cont">Cont</a></li>
                                {% if is_prof %}
                                    <li><a href="/profesor">Upload Note</a></li>
                                {% else %}
                                    <li><a href="/form">Formulare</a></li>
                                {% endif %}
                                <li><a href="#" data-toggle="modal">Welcome, {{ user.first_name }}</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#logout_mod">Logout</a></li>
                            {% else %}
                                <li><a href="#" data-toggle="modal" data-target="#login_mod">Login</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#sign_in_mod">Register</a></li>

                            {% endif %}

                        </ul>

                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container header_container">
        <div class="row">
          
            {% if not logged %}
                <div class="col-md-3 col-md-offset-9 hidden-sm hidden-xs">

                    <div class="well">

                        <h4><b>Login!</b></h4>

                        <form class="navbar-form" action="/login/" method="post">
                            {% csrf_token %}
                            {% if error == "invalid" %}
                                <h1>Invalid login data</h1>
                            {% endif %}
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" name="email" placeholder="Email" type="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Parola <a href="#">(parola uitata)</a></label>
                                <input class="form-control" name="password" placeholder="Parola" type="password">
                            </div>
                            </br></br>
                            <button type="submit" class="btn btn-sm btn-default">Login</button>
                        </form>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

</div>


<div class="container-fluid bg">
	<div class="row">
        <div class="col-md-5">
	<div role="tabpanel">

  		<!-- Nav tabs -->
	<ul id="myTab" class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#I11" role="tab" data-toggle="tab">I1 Sem 1</a></li>
    		<li role="presentation"><a href="#I12"  role="tab" data-toggle="tab">I1 Sem 2</a></li>
    		<li role="presentation"><a href="#I21"  role="tab" data-toggle="tab">I2 Sem 1</a></li>
    		<li role="presentation"><a href="#I22"  role="tab" data-toggle="tab">I2 Sem 2</a></li>
    		<li role="presentation"><a href="#I31"  role="tab" data-toggle="tab">I3 Sem 1</a></li>
    		<li role="presentation"><a href="#I32"  role="tab" data-toggle="tab">I3 Sem 2</a></li>
  	</ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="I11">
    <div class="col-md-12">
    			<div class="table-responsive">
				<table class="table table-striped">
					<tr>
						<td>Materie</td>
						<td>Nota</td>
					</tr>
					
					{% for item in materii %}
						{%  if item.an == 1 and item.semestru == 1 %}
							<tr>
								<td>{{item.disciplina}}</td>
								<td>{{item.nota}}</td>
							</tr>
						{% endif %}
					{% endfor %}
					
				</table>       
   		 	</div>
		</div>
    </div>
    
    <div role="tabpanel" class="tab-pane" id="I12">
    <div class="col-md-12">
    			<div class="table-responsive">
				<table class="table table-striped">
					<tr>
						<td>Materie</td>
						<td>Nota</td>
					</tr>
					
					{% for item in materii %}
						{% if item.an == 1 and item.semestru == 2 %}
							<tr>
								<td>{{item.disciplina}}</td>
								<td>{{item.nota}}</td>
							</tr>
						{% endif %}
					{% endfor %}
					
				</table>       
   		 	</div>
		</div>
    </div>

    <div role="tabpanel" class="tab-pane" id="I21">
    <div class="col-md-12">
    			<div class="table-responsive">
				<table class="table table-striped">
					<tr>
						<td>Materie</td>
						<td>Nota</td>
					</tr>
					
					{% for item in materii %}
						{% if item.an == 2 and item.semestru == 1 %}
							<tr>
								<td>{{item.disciplina}}</td>
								<td>{{item.nota}}</td>
							</tr>
						{% endif %}
					{% endfor %}
					
				</table>       
   		 	</div>
		</div>
    </div>

    <div role="tabpanel" class="tab-pane" id="I22">
    
    <div class="col-md-12">
    			<div class="table-responsive">
				<table class="table table-striped">
					<tr>
						<td>Materie</td>
						<td>Nota</td>
					</tr>
					
					{% for item in materii %}
						{% if item.an == 2 and item.semestru == 2 %}
							<tr>
								<td>{{item.disciplina}}</td>
								<td>{{item.nota}}</td>
							</tr>
						{% endif %}
					{% endfor %}
					
				</table>       
   		 	</div>
		</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="I31">
     <div class="col-md-12">
    			<div class="table-responsive">
				<table class="table table-striped">
					<tr>
						<td>Materie</td>
						<td>Nota</td>
					</tr>
					
					{% for item in materii %}
						{% if item.an == 3 and item.semestru == 1 %}
							<tr>
								<td>{{item.disciplina}}</td>
								<td>{{item.nota}}</td>
							</tr>
						{% endif %}
					{% endfor %}
					
				</table>       
   		 	</div>
		</div>
    </div>

   
    <div role="tabpanel" class="tab-pane" id="I32">
    <div class="col-md-12">
    			<div class="table-responsive">
				<table class="table table-striped">
					<tr>
						<td>Materie</td>
						<td>Nota</td>
					</tr>
					
					{% for item in materii %}
						{% if item.an == 3 and item.semestru == 2 %}
							<tr>
								<td>{{item.disciplina}}</td>
								<td>{{item.nota}}</td>
							</tr>
						{% endif %}
					{% endfor %}
					
				</table>       
   		 	</div>
		</div>
    </div>
 
    </div>

  </div>
</div>
  <div id="container" class="col-md-6" style="max-width: 900px; height: 400px; margin: 0 auto align: right"></div>
</div>

		
	</div>




<div class="modal fade" id="login_mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            {% if logged == False %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="navbar-form" action="/login/" method="post">
                                    {% csrf_token %}
                                    {% if error == "invalid" %}
                                        <h1>Invalid login data</h1>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control" name="email" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Parola <a href="#">(parola uitata)</a></label>
                                        <input class="form-control" name="password" placeholder="Parola"
                                               type="password">
                                    </div>
                                    </br></br>
                                    <button type="submit" class="btn btn-sm btn-default">Login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal fade" id="sign_in_mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Register</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="navbar-form navbar-left" action="/registered/" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="nume">Nume</label>
                                    <input class="form-control" name="nume" placeholder="Nume" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="prenume">Prenume</label>
                                    <input class="form-control" name="prenume" placeholder="Prenume" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="matricol">Numar Matricol</label>
                                    <input class="form-control" name="matricol" placeholder="Numar Matricol"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label for="an">An</label></br>
                                    <input class="form-control" name="an" placeholder="An" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="grupa">Grupa</label>
                                    <input class="form-control" name="grupa" placeholder="Grupa" type="text">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" name="email" placeholder="Email" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Parola</label>
                                    <input class="form-control" name="passwordbranza" placeholder="Parola"
                                           type="password">
                                </div>
                                </br></br>
                                <button type="submit" class="btn btn-sm btn-default" action="">Sign in</button>

                            </form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="logout_mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Logout</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            </br></br>
                            <form class="navbar-form navbar-left" action="/logout/" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-default">LogOut</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $( document ).ready(function() {
             $(function () {
     var nume=({{nume|safe}});
    var view_data={{data}}
    var data=[]
    for (i=0; i<nume.length;i++)
    {console.log(nume[i]);
        data.push({name:nume[i],data:view_data[i]})
        console.log(nume[i]);
        console.log(view_data[i]);
    }

    console.log(data);
    $('#container').highcharts({
        title: {
            text: 'Grafic Note',
            x: -20 //center
        },
       
        xAxis: {
            categories:[0,1,2,3,4,5,6,7,8,10]
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
        
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series:data
    });
});

        $('#myTab a').click(function (e) {
     e.preventDefault()
     $('#myTab a[href="#I12"]').tab('show') 
    })


    });


    </script>
</body>


	</html>