<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Register result</title>
</head>
<body>
        {%if not error %}
        	<h1>Registered with Succes! </h1>
        	<h2>Welcome, {{username}}</h2>
        {%else %}
        	<h1>Eroare!!</h1>
        	 <p>{{error_message}}</p>
        {%endif%}		
        <h1>{{result}}</h1>
</body>
</html>